<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <ul>
      <% assetNames.forEach(function(assetName){ %>
      <li><a href="<%= assetName %>"><%= assetName %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
