<div class="row download-button-container">
  <a id="button" href="<%= locals.buttonUrl %>" class="col-sm-12 button primary large download-button">
    <%= locals.buttonText || 'Download For Free' %>
  </a>
</div>
