<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <style>
    <% include style.css %>
    <% include ../partials/singleThumbnail.css %>
    <% include ../partials/description.css %>
    <% include ../partials/downloadButton.css %>
  </style>
  <script><%- locals.script %></script>
</head>

<body>
  <div class="row container-row">
    <div class="col-sm-12 col-md-4 container-column">
      <% include ../partials/singleThumbnail.ejs %>
      <% include ../partials/description.ejs %>
      <% include ../partials/downloadButton.ejs %>
    </div>
  </div>
</body>

</html>
