<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <style><% include style.css %></style>
  </head>
  <body>
    <div class="thumbnail-container">
      <img class="thumbnail" src="https://imgplaceholder.com/800x800/333333/1b1b1b" />
    </div>
  </body>
</html>
